@model BookingTicket.Models.Ve

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ghe.Row)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghe.Row)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LichChieu.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LichChieu.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
