@model IEnumerable<DACS.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Danh sách phim</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Danh sách phim</li>
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="flex-wrap-movielist mv-grid-fw">
                    @foreach (var item in Model)
                    {
                        <div class="movie-item-style-2 movie-item-style-1">
                            <img src="@item.Hinh" alt="hinh thumbnail" />
                            <div class="hvr-inner">
                                <a href="@Url.Action("Details", "Phims",  new { id=item.Id })"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="mv-item-infor">
                                <h6 style="text-align:center"><a href="#">@item.TenPhim</a></h6>
                            </div>
                        </div>

                    }
                </div>
                @*<div class="topbar-filter">
                        <label>Movies per page:</label>
                        <select>
                            <option value="range">20 Movies</option>
                            <option value="saab">10 Movies</option>
                        </select>

                        <div class="pagination2">
                            <span>Page 1 of 2:</span>
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">...</a>
                            <a href="#">78</a>
                            <a href="#">79</a>
                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiPhim.TenLoaiPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCongChieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgonNgu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienVienChinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Traler)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiPhim.TenLoaiPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCongChieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgonNgu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuocGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienVienChinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Traler)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
